<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>plotter</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'plotter/style.css' %}" />
    </head>

    <body>
        <h1>plotter</h1>
        <form action="{% url 'plotter:plot' %}" method="post">
            {% csrf_token %}
            <p><label for="plot_name">title(optional)<input type="text" name="plot_name" size="60" class="title"></label></p>
            <div class="plot_whole">
                <div class="top">
                    <label for="top"><input type="text" name="top" /></label>
                </div>
                <div class="clearfix">
                    <div class="left">
                        <label for="left"><input type="text" name="left" /></label>
                    </div>
                    <div id="plot_area">
                    </div>
                    <div class="right">
                        <label for="right"><input type="text" name="right" /></label>
                    </div>
                </div>
                <div class="bottom">
                    <label for="bottom"><input type="text" name="bottom" /></label>
                </div>
            </div>
            <!-- for test -->
            <p>
                <label for="point_name_1">point_name_1<input type="text" name="point_name_1" size="60"></label>
                <label for="point_color_1">point_color_1<input type="text" name="point_color_1" size="60"></label>
                <label for="point_x_1">point_x_1<input type="text" name="point_x_1" size="10"></label>
                <label for="point_y_1">point_y_1<input type="text" name="point_y_1" size="10"></label>
            </p>
            <p>
            <label for="point_name_2">point_name_2<input type="text" name="point_name_2" size="60"></label>
                <label for="point_color_2">point_color_2<input type="text" name="point_color_2" size="60"></label>
                <label for="point_x_2">point_x_2<input type="text" name="point_x_2" size="10"></label>
                <label for="point_y_2">point_y_2<input type="text" name="point_y_2" size="10"></label>
            </p>
            <!-- for test -->
            <input type="submit" value="plot" class="button">
        </form>

        <a href="{% url 'plotter:edit' 100 %}"><p>[for test] edit plot100</p></a>
        <a href="{% url 'plotter:plot' %}"><p>[for test] plot</p></a>
    </body>

</html>
