<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>plotter</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'plotter/style.css' %}" />
    </head>

    <body>
        <h1>plotter</h1>
        <form action="{% url 'plotter:plot' %}" method="post">
            {% csrf_token %}
            <p><label for="plot_name">title(optional)<input type="text" name="plot_name" size="60" class="title"></label></p>
            <div class="plot_whole">
                <div class="top">
                    <label for="top"><input type="text" name="top" /></label>
                </div>
                <div class="clearfix">
                    <div class="left">
                        <label for="left"><input type="text" name="left" /></label>
                    </div>
                    <div id="plot_area">
                    </div>
                    <div class="right">
                        <label for="right"><input type="text" name="right" /></label>
                    </div>
                </div>
                <div class="bottom">
                    <label for="bottom"><input type="text" name="bottom" /></label>
                </div>
            </div>
            <input type="submit" value="plot" class="button">
        </form>

        <a href="{% url 'plotter:edit' 100 %}"><p>[for test] edit plot100</p></a>
        <a href="{% url 'plotter:plot' %}"><p>[for test] plot</p></a>
    </body>

    <script type="text/javascript" src="{% static 'plotter/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plotter/js/add_points.js' %}"></script>

</html>
